.idea/
*.jpg
*.png
imagePostionDetect/0
imagePostionDetect/1
*.tfrec
*.csv
*label_num_to_disease_map.json
*.record
*.pkl
*.pyc
*tf_efficientnet_b4*
*checkpoint*
my_model.index
my_model.meta
my_model.data-00000-of-00001
runs/
*.jfif
